.text-green, .text-manager {
	color: #00B40B;
}

.text-orange, .text-tech {
	color: #E67E21;
}

.text-blue, .text-channel {
	color: rgb(64, 97, 207);
}

.text-pink, .text-moderator {
	color: #E91E63;
}

.text-mit, .text-red {
	color: #E74C3C;
}

.text-purple,.text-senior-mod {
	color: #BF94FA;
}

.text-lime, .text-admin {
	color: #CEFF00;
}

.text-light-blue, .text-coach {
	color: #93BFE6;
}

.text-mid-green, .text-wave-host {
	color: #11806A;
}

.text-underline {
	text-decoration: underline;
}


.text-spoiler {
	background: #1d1d1d;
	color: #1d1d1d;
	padding: .5rem;
	transition: .3s ease-in-out;
	border-radius: 3px;
}

.text-spoiler:hover {
	background: #1d1d1d40;
	color: white;
}

.sidebar-nav li img {
	width: 20px;
}

.github-corner {
	display: none;
}